/.venv/
/venv/
/Practice/.venv/
/Practice/venv/
/Practice/Practice/.venv/
/Practice/Practice/venv/
/Practice/Practice/Practice/.venv/
/Practice/Practice/Practice/venv/
/Practice/Practice/Practice/Practice/.venv/
/Practice/Practice/Practice/Practice/venv/
/Practice/Practice/Practice/Practice/Practice/.venv/
/Practice/Practice/Practice/Practice/Practice/venv/
/Practice/plant_disease/
plant_disease/*
